{% extends "_layouts/base.html" %}
{% block content %}
    <div class="wrapper console-wrapper">
        <h2>Email Templates</h2>
        <ul>
{% for item in file_tree %}
            <li class="{{ item.item_cycle }} {{ item.item_type }} {{ item.item_level }}">
                {{ item.item_name }}
{% if item.item_type=='file' %}
                <span class="timestamp">Last build: {{ item.item_last_build }}</span>
                <a href="{{ item.item_preview_link }}" target="_blank" class="preview-link">Preview</a>
                <a href="#" class="build-link" data-template-name="{{ item.item_template_name }}">
                <svg width="28" height="28">
                    <circle cx="16" cy="15" r="6" style="" class="build-indicator" />
                </svg> {% if item.item_test == 'true' %}Build &amp; Test{% else %}Build{% endif %}</a>
{% endif %}
            </li>
{% endfor %}
        </ul>
    </div>
{% endblock content %}