.DS_Store

# Contains templates used in development of the app that we don't want to push
public_html/templates/email/app-dev/*
public_html/preview/email/app-dev/*
public_html/live/email/app-dev/*

# Contains local variables used in development of the app that we don't want to push
# Rename sample-general.yaml to general.yaml and fill in your values
dispatchwire/config/general.yaml

dispatchwire/cache/*

# Ignore Composer files
composer.phar
composer.lock
dispatchwire/app/vendor/*