<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/ui/css/styles.css" />
</head>
<body>
    <h1>FlightDeck <span>by <a href="http://clearbold.com">Clearbold</a></span></h1>
{% block content %}

{% endblock content %}
    <div class="wrapper footer-wrapper">
        <p>&copy; 2015 <a href="http://clearbold.com">Clearbold, LLC</a> &bull; <a href="https://github.com/clearbold/flightdeck">View on GitHub</a></p>
    </div>
    <script type="text/javascript" src="/ui/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/ui/js/scripts.js"></script>
</body>
</html>