<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/ui/css/styles.css" />
</head>
<body>
    <div class="wrapper console-wrapper">
{% block content %}

{% endblock content %}
    </div>
    <div class="wrapper footer-wrapper">
        <p>&copy; 2015 Clearbold, LLC &bull; View on GitHub</p>
    </div>
    <script type="text/javascript" src="/ui/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/ui/js/scripts.js"></script>
</body>
</html>